// Menu wrapper
.menu-items {
    width: 224px;
    .menu-item {
        margin-left: 0px;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
// Menu Items
.menu-item {
    line-height: 1.8rem;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 500;
    padding: 11px 16px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
