.wrapper {
    --search-border-radius: 92px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}
.search {
    position: relative;
    display: flex;
    width: 361px;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    input {
        flex: 1;

        height: 100%;
        color: var(--black);
        font-size: 1.6rem;

        padding: 12px 0px;

        background-color: transparent;
    }
    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 52px;
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}
.clear {
}
.search-btn {
    width: 50px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    background-color: rgba(22, 24, 35, 0.03);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.search-icon {
}
